body{
  background-color: rgb(164, 255, 225);
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  min-height: 75vh;
  width: 400px;
  background-color: white;
}

.crossed{
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}

h1{
  color: rgb(142, 142, 236)
}

ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

li{
  display: flex;
}

.btn{
  padding: 10px;
  border: none;
  width: 250px;
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.btn-add {
  background: rgb(142, 142, 236);
  margin-top: 5px;
}

.btn-delete {
  background: #df0606;
  margin-bottom: 5px;
}

input{
  width: 232px;
  margin-bottom: 10px;
  height: 20px;
  padding:8px;
  outline-color: rgb(142, 142, 236);
  font-family: 'Poppins', sans-serif;
}

img{
  border-radius: 50%;
}



