.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: black;
}

h2{
  color:white;
}
.red{
  color:red;
}

.green{
  color:green;
}

.pink{
  color:pink;
}

.yellow{
  color:yellow;
}

